@font-face {
    font-family: 'Roboto';
    src: url('RobotoCondensed.ttf') format('truetype');
}
@font-face {
    font-family: 'Batangas';
    src: url('Batangas.otf') format('opentype');
    font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
body {
    font-size: 16px;
    display: none;
}
h1 {
    font-size: 2.3em;
    font-family: 'Batangas', sans-serif;
}
h2 {
    font-size: 1.8em;
    font-family: 'Batangas', sans-serif;
}
p {
    font-size: 1em;
}

                                                    /* INDEX */

.landing-page {
    background: url('https://github.com/Nthnnn26/malolos.museum.io/blob/main/assets/bg_index.png?raw=true');
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    animation: bg-fade-in 15s forwards;
    opacity: 0.1;
    transition: opacity 0.3s ease;
}
.fade-in {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
    animation: text-white 15s forwards;
}
.index-btn {
    font-size: 1.3em;
    font-weight: 500;
    color: white;
    background-color: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 50px;  
    padding: 10px 15px; 
    animation: black-to-brown 15s forwards;
}
.index-btn:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}
.museum-box img {
    max-width: 200px;
    margin-right: 30px;
    animation: image-white 15s forwards;
    filter: invert(0%);
}
.side-img {
    opacity: 1;
    animation: bg-fade-out 15s forwards;
 }
 /* INDEX - ANIMATIONS */
 @keyframes bg-fade-in {
    0% {
        opacity: 0; 
    }
    20% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}
@keyframes text-white {
    0% {
        color: #000000;
    }
    100% {
        color: #FFFFFF;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
}
@keyframes black-to-brown {
    100% {
        background-color: #362406;
    }
}
@keyframes image-white {
    100% {
        filter: invert(100%);
    }
}
@keyframes bg-fade-out {
    100% {
        opacity: 0;
    }
}

                                                        /* INDEX DESIGN END */

                                                        /* TOP BAR */
.navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.navbar-collapse .navbar-nav .nav-item .nav-link:hover,
.navbar-collapse .navbar-nav .nav-item .nav-link:focus {
    color: #CC9900 !important; 
}
header {
    align-items: center;
    justify-content: space-between;
}
.btn-brown {
    width: 100%;
    height: auto;
    max-width: 300px;
    font-size: 1.3em;
    font-weight: 500;
    color: white;
    background-color: #613E0A;
    border: 2px solid #CC9900;
    border-radius: 50px;   
    padding: 10px 15px;
}
.btn-brown:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease;
}
.btn-black {
    width: 100%;
    height: auto;
    font-size: 1.3em;
    font-weight: 500;
    color: white;
    background-color: #000000;
    border: 2px solid #FFFFFF;
    border-radius: 50px; 
    padding: 10px 15px;
}
.btn-black:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}
.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}
.line-bot {
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, rgba(97, 62, 10, 0), #CC9900, rgba(97, 62, 10, 0));
    border-image-slice: 1;
}
.line-top {
    border-top: 3px solid;
    border-image: linear-gradient(to right, rgba(97, 62, 10, 0), #CC9900, rgba(97, 62, 10, 0));
    border-image-slice: 1;
}
.fade-top-left {
    border-top: 5px solid;
    border-image: linear-gradient(to right, #CC9900, #000000) 1;
}
.fade-top-right {
    border-top: 5px solid;
    border-image: linear-gradient(to left, #CC9900, #000000) 1;
}
.name-container-left {
    width: 100%;
    height: auto;
    background: linear-gradient(to right, rgba(204, 153, 0, 0.5) 0%, rgba(204, 153, 0, 0.2) 30%, #000000 100%);
}
.name-container-right {
    width: 100%;
    height: auto;
    background: linear-gradient(to left, rgba(204, 153, 0, 0.5) 0%, rgba(204, 153, 0, 0.2) 30%, #000000 100%);
}
.container-btn {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 100px;  
    
}

.btn-glowing {
    width: 700px;
    height: auto;
    font-size: 1.3em;
    color: white;
    background-color: #613E0A;
    border: 2px solid #CC9900;
    border-radius: 50px;
    padding: 10px 15px;
    text-decoration: none;
    box-shadow: 20px 0px 50px 10px rgba(97, 62, 10, 0.7), -20px 0px 50px 10px rgba(97, 62, 10, 0.7);
    -webkit-box-shadow: 20px 0px 50px 10px rgba(97, 62, 10, 0.7), -20px 0px 50px 10px rgba(97, 62, 10, 0.7);
    -moz-box-shadow: 20px 0px 50px 10px rgba(97, 62, 10, 0.7), -20px 0px 50px 10px rgba(97, 62, 10, 0.7);
}
.btn-glowing:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}
.btn-noglow {
    width: 700px;
    height: auto;
    font-size: 1.3em;
    color: white;
    background-color: #613E0A;
    border: 2px solid #CC9900;
    border-radius: 50px; 
    padding: 10px 15px;
    text-decoration: none;   
}
.btn-noglow:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}
.box-profile {
    width: 100%;
    height: auto;
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.profile-img {
    width: 100%;
    height: auto;
    max-width: 150px;
    border: 2px solid #CC9900;
}
footer {
    background-color: #362406;
    margin-top: auto;
    padding: 5px;
}

@media (max-width: 576px) {
    body {
        font-size: 12px;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h5 {
        max-width: 80px;
    }
    p {
        font-size: 0.8em;
    }
    .museum-box img {
        max-width: 120px;
        margin-right: 20px;
    }
    .side-img {
       width: 50%;
       height: auto;
    }
    .title {
        font-size: 48px;
    }
    .reverse {
        flex-direction: column-reverse;
    }
    .btn-brown {
        font-size: 1em;
    }
    .btn-black {
        font-size: 1em;
    }
    .btn-glowing {
        font-size: 1em;
    }
    .btn-noglow {
        font-size: 1em;
    }
    .index-btn {
        font-size: 1em;
    }
}